<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Booking Information</ng-template>
      <div id="bookingInfo" >
      <form [formGroup]="bookingForm" (ngSubmit)="onNext('customerInfo')">
        <div class="form-group">
          <label for="reservationId">Reservation Id</label>
          <input type="text" id="reservationId" formControlName="reservationId" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label for="roomNo">Room No.</label>
          <input type="text" id="roomNo" formControlName="roomNo" class="form-control" readonly>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label for="stayDateFrom">Stay Date From</label>
            <input type="date" id="stayDateFrom" formControlName="stayDateFrom" class="form-control">
          </div>
          <div class="col-6 form-group">
            <label for="stayDateTo">Stay Date To</label>
            <input type="date" id="stayDateTo" formControlName="stayDateTo" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="numberOfDays">Number of Days</label>
          <input type="number" id="numberOfDays" formControlName="numberOfDays" class="form-control" (input)="updateTotalPrice()">
        </div>
        <div class="form-group">
          <label for="totalGuests">Total Number of Guests</label>
          <input type="number" id="totalGuests" formControlName="totalGuests" class="form-control" (input)="updateTotalPrice()">
        </div>
        <div class="form-group">
          <label for="pricePerDayPerPerson">Price per Day per Person</label>
          <input type="text" id="pricePerDayPerPerson" formControlName="pricePerDayPerPerson" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label for="totalPrice">Total Price</label>
          <input type="text" id="totalPrice" formControlName="totalPrice" class="form-control" readonly>
        </div>
        <div>
          <button type="submit" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </div>

    <mat-step [stepControl]="userTypeFormGroup">
      <ng-template matStepLabel>User Type</ng-template>
      <div id="userType">
        <form [formGroup]="userTypeFormGroup">
          <mat-form-field>
            <mat-label>User Type</mat-label>
            <mat-select formControlName="userType" (selectionChange)="onUserTypeSubmit()">
              <mat-option value="new">New User</mat-option>
              <mat-option value="existing">Existing User</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="isExistingUser">
            <mat-form-field>
              <mat-label>Select Email</mat-label>
              <mat-select formControlName="existingEmail" (selectionChange)="onEmailChange()">
                <mat-option *ngFor="let email of existingEmails" [value]="email">
                  {{ email }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button type="submit" mat-button matStepperNext>Next</button>

          </div>
        </form>
      </div>
    </mat-step>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Customer Information">
    <div id="customerInfo">
    <form [formGroup]="customerForm" (ngSubmit)="onNext('paymentInfo')">
      <div class="form-group">
        <label for="customerId">Customer Id</label>
        <input type="text" id="customerId" formControlName="customerId" class="form-control" readonly>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" id="mobileNumber" formControlName="mobileNumber" class="form-control">
      </div>
      <div class="row">
        <div class="col-6 form-group">
          <label for="age">Age</label>
          <input type="number" id="age" formControlName="age" class="form-control">
        </div>
        <div class="col-6 form-group">
          <label for="birthDate">Birth Date</label>
          <input type="date" id="birthDate" formControlName="birthDate" class="form-control">
        </div>
      </div>
      
      <div class="form-group">
        <label for="initialAddress">Initial Address</label>
        <input type="text" id="initialAddress" formControlName="initialAddress" class="form-control">
      </div>
      <div class="row">
        <div class="col-6 form-group">
          <label for="city">City</label>
          <input type="text" id="city" formControlName="city" class="form-control">
        </div>
        <div class="col-6 form-group">
          <label for="state">State</label>
          <input type="text" id="state" formControlName="state" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-group">
          <label for="country">Country</label>
          <input type="text" id="country" formControlName="country" class="form-control">
        </div>
        <div class="col-6 form-group">
          <label for="pincode">Pincode</label>
          <input type="text" id="pincode" formControlName="pincode" class="form-control">
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button type="submit" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment Information</ng-template>
    <div id="paymentInfo">
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="paymentId">Payment Id</label>
          <input type="text" id="paymentId" formControlName="paymentId" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label for="paymentMode">Payment Mode</label>
          <input type="text" id="paymentMode" formControlName="paymentMode" class="form-control">
        </div>
        <div class="form-group">
          <label for="paidAmount">Paid Amount</label>
          <input type="text" id="paidAmount" formControlName="paidAmount" class="form-control">
        </div>
        <div class="form-group">
          <label for="dueAmount">Due Amount</label>
          <input type="text" id="dueAmount" formControlName="dueAmount" class="form-control">
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button type="submit" mat-button matStepperNext>Book</button>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Preview</ng-template>
    <div  class="current-bookings">
      <h2>Preview</h2>
      <div *ngIf="currentBooking.length > 0; else noBookings">
        <div *ngFor="let booking of currentBooking" class="booking-details">
          <h2>Booking Information</h2>
          <p><strong>Reservation ID:</strong> {{ booking.bookingInfo.reservationId }}</p>
          <p><strong>Room No:</strong> {{ booking.bookingInfo.roomNo }}</p>
          <p><strong>Stay Date From:</strong> {{ booking.bookingInfo.stayDateFrom }}</p>
          <p><strong>Stay Date To:</strong> {{ booking.bookingInfo.stayDateTo }}</p>
          <p><strong>Number of Days:</strong> {{ booking.bookingInfo.numberOfDays }}</p>
          <p><strong>Total Guests:</strong> {{ booking.bookingInfo.totalGuests }}</p>
          <p><strong>Price per Day per Person:</strong> {{ booking.bookingInfo.pricePerDayPerPerson }}</p>
          <p><strong>Total Price:</strong> {{ booking.bookingInfo.totalPrice }}</p>
    
          <h2>Customer Information</h2>
          <p><strong>Customer ID:</strong> {{ booking.customerInfo.customerId }}</p>
          <p><strong>Name:</strong> {{ booking.customerInfo.name }}</p>
          <p><strong>Email:</strong> {{ booking.customerInfo.email }}</p>
          <p><strong>Mobile Number:</strong> {{ booking.customerInfo.mobileNumber }}</p>
          <p><strong>Age:</strong> {{ booking.customerInfo.age }}</p>
          <p><strong>Birth Date:</strong> {{ booking.customerInfo.birthDate }}</p>
          <p><strong>Address:</strong> {{ booking.customerInfo.initialAddress }}, {{ booking.customerInfo.city }}, {{ booking.customerInfo.state }}, {{ booking.customerInfo.country }}, {{ booking.customerInfo.pincode }}</p>
    
          <h2>Payment Information</h2>
          <p><strong>Payment ID:</strong> {{ booking.paymentInfo.paymentId }}</p>
          <p><strong>Payment Mode:</strong> {{ booking.paymentInfo.paymentMode }}</p>
          <p><strong>Paid Amount:</strong> {{ booking.paymentInfo.paidAmount }}</p>
          <p><strong>Due Amount:</strong> {{ booking.paymentInfo.dueAmount }}</p>
    
          <hr/>
        </div>
      </div>
      <ng-template #noBookings>
        <p>No bookings available.</p>
      </ng-template>
    </div>
    
  </mat-step>
</mat-stepper>
