<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Booking Information</ng-template>
      <div id="bookingInfo" >
      <form [formGroup]="bookingForm" (ngSubmit)="onNext('customerInfo')">
        <div class="form-group">
          <label class="required" for="reservationId">Reservation Id</label>
          <input type="text" id="reservationId" formControlName="reservationId" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label class="required" for="roomNo">Room No.</label>
          <input type="text" id="roomNo" formControlName="roomNo" class="form-control" readonly>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label class="required" for="stayDateFrom">Stay Date From</label>
            <input type="date" id="stayDateFrom" formControlName="stayDateFrom" class="form-control" (input)="UpdateNoOfDays()" [class.is-invalid]="bookingForm.get('stayDateFrom')?.invalid && bookingForm.get('stayDateFrom')?.touched">
            <div *ngIf="bookingForm.get('stayDateFrom')?.invalid && bookingForm.get('stayDateFrom')?.touched" class="invalid-feedback">
              Please select a valid start date.
            </div>
          </div>
          <div  class="col-6 form-group">
            <label class="required" for="stayDateTo">Stay Date To</label>
            <input type="date" id="stayDateTo" formControlName="stayDateTo" class="form-control" (input)="UpdateNoOfDays()" [class.is-invalid]="bookingForm.get('stayDateTo')?.invalid && bookingForm.get('stayDateTo')?.touched">
            <div *ngIf="bookingForm.get('stayDateTo')?.invalid && bookingForm.get('stayDateTo')?.touched" class="invalid-feedback">
              Please select a valid end date.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required" for="numberOfDays">Number of Days</label>
          <input type="number" id="numberOfDays" formControlName="numberOfDays" class="form-control" (input)="updateTotalPrice()" [class.is-invalid]="bookingForm.get('numberOfDays')?.invalid && bookingForm.get('numberOfDays')?.touched">
          <div *ngIf="bookingForm.get('numberOfDays')?.invalid && bookingForm.get('numberOfDays')?.touched" class="invalid-feedback">
            <div *ngIf="bookingForm.get('numberOfDays')?.errors?.['invalidStay']">Minimum Stay should be {{mini}} and Maximum Stay should be {{maxi}}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="required" for="totalGuests">Total Number of Guests</label>
          <input type="number" id="totalGuests" formControlName="totalGuests" class="form-control" (input)="updateTotalPrice()" [class.is-invalid]="bookingForm.get('totalGuests')?.invalid && bookingForm.get('totalGuests')?.touched">
          <div *ngIf="bookingForm.get('totalGuests')?.invalid && bookingForm.get('totalGuests')?.touched" class="invalid-feedback">
            <div *ngIf="bookingForm.get('totalGuests')?.errors?.['invalidCapacity']">Maximum Guest Capacity is {{roomCapacity}}</div>
            <!-- Please enter a valid number of guests (minimum 1). -->
          </div>
        </div>
        <div class="form-group">
          <label class="required" for="pricePerDayPerPerson">Price per Day per Person</label>
          <input type="text" id="pricePerDayPerPerson" formControlName="pricePerDayPerPerson" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label class="required" for="totalPrice">Total Price</label>
          <input type="text" id="totalPrice" formControlName="totalPrice" class="form-control" readonly>
        </div>
        <div>
          <button type="submit" mat-button matStepperNext [disabled]="bookingForm.invalid">Next</button>
        </div>
      </form>
    </div>
  </mat-step>

    <mat-step [stepControl]="userTypeFormGroup">
      <ng-template matStepLabel>User Type</ng-template>
      <div id="userType">
        <form [formGroup]="userTypeFormGroup">
          <div>
            <mat-label class="required">User Type</mat-label>
              <mat-radio-group formControlName="userType" (change)="onUserTypeSubmit()" [class.is-invalid]="userTypeFormGroup.get('userType')?.invalid && userTypeFormGroup.get('userType')?.touched">
                <mat-radio-button value="new">New User</mat-radio-button>
                <mat-radio-button value="existing">Existing User</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="userTypeFormGroup.get('userType')?.invalid && userTypeFormGroup.get('userType')?.touched">
                Please select a user type.
              </mat-error>
          </div> 
          <div *ngIf="isExistingUser">
            <mat-form-field>
              <mat-label class="required">Select Email</mat-label>
              <mat-select formControlName="existingEmail" (selectionChange)="onEmailChange()" [class.is-invalid]="userTypeFormGroup.get('existingEmail')?.invalid && userTypeFormGroup.get('existingEmail')?.touched">
                <mat-option *ngFor="let email of existingEmails" [value]="email">
                  {{ email }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="userTypeFormGroup.get('existingEmail')?.invalid && userTypeFormGroup.get('existingEmail')?.touched">
                Please select an email.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button type="submit" mat-button matStepperNext [disabled]="userTypeFormGroup.invalid">Next</button>
          </div>
        </form>
      </div>
    </mat-step>
  
  <mat-step [stepControl]="secondFormGroup" label="Customer Information">
    <div id="customerInfo">
    <form [formGroup]="customerForm" (ngSubmit)="onNext('paymentInfo')">
      <div class="form-group">
        <label for="customerId">Customer Id</label>
        <input type="text" id="customerId" formControlName="customerId" class="form-control" readonly>
      </div>

      <!-- <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div> -->
      <div class="form-group">
        <label class="required" for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" [class.is-invalid]="customerForm.get('name')?.invalid && customerForm.get('name')?.touched">
        <div *ngIf="customerForm.get('name')?.invalid && customerForm.get('name')?.touched" class="invalid-feedback">
          Please enter a valid name.
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" class="form-control">
      </div> -->
      <div class="form-group">
        <label class="required" for="email">Email</label>
        <input type="text" id="email" formControlName="email" class="form-control" [class.is-invalid]="customerForm.get('email')?.invalid && customerForm.get('email')?.touched">
        <div *ngIf="customerForm.get('email')?.invalid && customerForm.get('email')?.touched" class="invalid-feedback">
          Please enter a valid email.
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" id="mobileNumber" formControlName="mobileNumber" class="form-control">
      </div> -->
      <div class="form-group">
        <label class="required" for="mobileNumber">Mobile Number</label>
        <input type="number" id="mobileNumber" formControlName="mobileNumber" class="form-control" [class.is-invalid]="customerForm.get('mobileNumber')?.invalid && customerForm.get('mobileNumber')?.touched">
        <div *ngIf="customerForm.get('mobileNumber')?.invalid && customerForm.get('mobileNumber')?.touched" class="invalid-feedback">
          Please enter a valid mobile number (10 digits).
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-6 form-group">
          <label for="age">Age</label>
          <input type="number" id="age" formControlName="age" class="form-control">
        </div>
        <div class="col-6 form-group">
          <label for="birthDate">Birth Date</label>
          <input type="date" id="birthDate" formControlName="birthDate" class="form-control">
        </div>
      </div> -->
      <div class="row">
        <div class="col-6 form-group">
          <label class="required" for="age">Age</label>
          <input type="number" id="age" formControlName="age" class="form-control" [class.is-invalid]="customerForm.get('age')?.invalid && customerForm.get('age')?.touched">
          <div *ngIf="customerForm.get('age')?.invalid && customerForm.get('age')?.touched" class="invalid-feedback">
            Please enter a valid age (minimum 1).
          </div>
        </div>
        <div class="col-6 form-group">
          <label class="required" for="birthDate">Birth Date</label>
          <input type="date" id="birthDate" formControlName="birthDate" class="form-control" [class.is-invalid]="customerForm.get('birthDate')?.invalid && customerForm.get('birthDate')?.touched">
          <div *ngIf="customerForm.get('birthDate')?.invalid && customerForm.get('birthDate')?.touched" class="invalid-feedback">
            Please select a valid birth date.
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="initialAddress">Initial Address</label>
        <input type="text" id="initialAddress" formControlName="initialAddress" class="form-control">
      </div>

      <div class="row">
        <div class="col-6 form-group">
          <label for="city">City</label>
          <input type="text" id="city" formControlName="city" class="form-control">
        </div>
        <div class="col-6 form-group">
          <label for="state">State</label>
          <input type="text" id="state" formControlName="state" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-group">
          <label for="country">Country</label>
          <input type="text" id="country" formControlName="country" class="form-control">
        </div>
        <div class="col-6 form-group">
          <label for="pincode">Pincode</label>
          <input type="text" id="pincode" formControlName="pincode" class="form-control">
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button type="submit" mat-button matStepperNext [disabled]="customerForm.invalid">Next</button>
      </div>
    </form>
  </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment Information</ng-template>
    <div id="paymentInfo">
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="required" for="paymentId">Payment Id</label>
          <input type="text" id="paymentId" formControlName="paymentId" class="form-control" readonly>
        </div>
        <!-- <div class="form-group">
          <label for="paymentMode">Payment Mode</label>
          <input type="text" id="paymentMode" formControlName="paymentMode" class="form-control">
        </div> -->
        <div class="form-group">
          <label class="required" for="paymentType">Payment Type</label>
          <mat-radio-group formControlName="paymentMode" class="form-control">
            <mat-radio-button value="card">Credit/Debit Card</mat-radio-button>
            <mat-radio-button value="upi">UPI</mat-radio-button>
            <mat-radio-button value="netbanking">Net Banking</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="paymentForm.get('paymentType')?.invalid && paymentForm.get('paymentType')?.touched">
            Please select a payment type.
          </mat-error>
        </div>
        <div class="form-group">
          <label for="paidAmount">Paid Amount</label>
          <input type="text" id="paidAmount" formControlName="paidAmount" class="form-control">
        </div>
        <div class="form-group">
          <label for="dueAmount">Due Amount</label>
          <input type="text" id="dueAmount" formControlName="dueAmount" class="form-control">
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button type="submit" mat-button matStepperNext [disabled]="paymentForm.invalid">Book</button>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Preview</ng-template>
    <div  class="current-bookings">
      <h2>Preview</h2>
      <div *ngIf="currentBooking.length > 0; else noBookings">
        <div *ngFor="let booking of currentBooking" class="booking-details">
          <h2>Booking Information</h2>
          <p><strong>Reservation ID:</strong> {{ booking.bookingInfo.reservationId }}</p>
          <p><strong>Room No:</strong> {{ booking.bookingInfo.roomNo }}</p>
          <p><strong>Stay Date From:</strong> {{ booking.bookingInfo.stayDateFrom }}</p>
          <p><strong>Stay Date To:</strong> {{ booking.bookingInfo.stayDateTo }}</p>
          <p><strong>Number of Days:</strong> {{ booking.bookingInfo.numberOfDays }}</p>
          <p><strong>Total Guests:</strong> {{ booking.bookingInfo.totalGuests }}</p>
          <p><strong>Price per Day per Person:</strong> {{ booking.bookingInfo.pricePerDayPerPerson }}</p>
          <p><strong>Total Price:</strong> {{ booking.bookingInfo.totalPrice }}</p>
    
          <h2>Customer Information</h2>
          <p><strong>Customer ID:</strong> {{ booking.customerInfo.customerId }}</p>
          <p><strong>Name:</strong> {{ booking.customerInfo.name }}</p>
          <p><strong>Email:</strong> {{ booking.customerInfo.email }}</p>
          <p><strong>Mobile Number:</strong> {{ booking.customerInfo.mobileNumber }}</p>
          <p><strong>Age:</strong> {{ booking.customerInfo.age }}</p>
          <p><strong>Birth Date:</strong> {{ booking.customerInfo.birthDate }}</p>
          <p><strong>Address:</strong> {{ booking.customerInfo.initialAddress }}, {{ booking.customerInfo.city }}, {{ booking.customerInfo.state }}, {{ booking.customerInfo.country }}, {{ booking.customerInfo.pincode }}</p>
    
          <h2>Payment Information</h2>
          <p><strong>Payment ID:</strong> {{ booking.paymentInfo.paymentId }}</p>
          <p><strong>Payment Mode:</strong> {{ booking.paymentInfo.paymentMode }}</p>
          <p><strong>Paid Amount:</strong> {{ booking.paymentInfo.paidAmount }}</p>
          <p><strong>Due Amount:</strong> {{ booking.paymentInfo.dueAmount }}</p>
    
          <hr/>
        </div>
      </div>
      <ng-template #noBookings>
        <p>No bookings available.</p>
      </ng-template>
    </div>
    
  </mat-step>
</mat-stepper>
