.required:after {
  content:" *";
  color: red;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  

#bookingInfo,
#customerInfo,
#paymentInfo,
#userType{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  
  form {
    width: 100%;
    max-width: 650px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    .form-group {
      margin-bottom: 20px;
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
      }
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s, box-shadow 0.3s;

        &:focus {
          border-color: #007bff;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
      }
    }

    button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.mat-stepper-horizontal .mat-horizontal-stepper-header-container {
  justify-content: center;
}

.mat-step-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-step-label {
  color: #333;
  font-weight: bold;
}

.mat-stepper-horizontal,
.mat-step {
  width: 100%;
}


.current-bookings {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .booking-details {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    h3 {
      font-size: 1.2rem;
      color: #555;
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 8px;

      strong {
        color: #333;
      }
    }

    hr {
      border: none;
      height: 1px;
      background-color: #ddd;
      margin: 20px 0;
    }
  }

  p {
    text-align: center;
    font-size: 1rem;
    color: #999;
  }
}


// Container for radio group
.mat-radio-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px; // Space between radio buttons
  margin-bottom: 16px; // Space below the radio group
}

// Styling for radio buttons
.mat-radio-button {
  display: flex;
  align-items: center;
  font-size: 16px; // Adjust font size as needed
  

  .mat-radio-label-content {
    
    font-size: 16px; // Adjust font size for the label
    margin-left: 8px; // Space between radio button and label
  }

  // Apply styles for the selected state
  &.mat-radio-button-checked {
    .mat-radio-outer-circle {
      border-color: #3f51b5; // Color of the outer circle when selected
    }
    .mat-radio-inner-circle {
      background-color: #3f51b5; // Color of the inner circle when selected
    }
  }
}

// Styling for the mat-label
mat-label {
  font-size: 18px; // Adjust font size for the label
  margin-bottom: 8px; // Space below the label
  font-weight: bold; // Make the label text bold

  display: flex;
}