$table-color: #dee2e6;
$primary-color: #e9e6e6;
$secondary-color: #778ca3;
$booked: #20bf6b;
$selected-color: #a5b1c2;
$white-color: #ffffff;
$black-color: #000000;
$border-color: #dee2e6;
$unavailability: #d3d0d0bd;
$arivalDay: rgba(245, 248, 248, 0.856);
$arivalDayHover: darkgreen;
$createResButton: #099e4f;
$departureDay: rgb(235, 106, 235);

.table {
    width: 100%;
    table-layout: auto;
}

.available{
    cursor: default;
}
  
.arrival-day {
cursor: pointer;
background-color: $arivalDay;
color: $white-color;
}
  
.arrival-day:hover {
    background-color: $arivalDayHover;
    color: $white-color;
}

.unavailable {
background-color: $unavailability;
color: $white-color;
cursor: not-allowed;
border: none;
}
    

.prevDays{
    color: $white-color;
    cursor: not-allowed;
}


.room-column {
    position: sticky;
    left: 0;
    width: 15%;
    background-color: $secondary-color;
    color: $white-color;
}

.room-info {
    position: sticky;
    left: 0;
    background-color: $primary-color; 
    color: $black-color;
    height: 6rem;
    font-weight: 450;
    text-align: left;
    padding-left: 0.625rem;
    z-index: 999;
}

th, td {
    text-align: center;
    height: 3.5rem;
    // width: 2.5rem;
    vertical-align: middle;
    padding: 0.5rem;
    border: 1px solid $table-color;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.weekday, .day {
    font-size: 0.85rem;
    background-color: $primary-color;
    font-weight: 450;
    min-width: 80px;
}

// .booked {
//     background-color: $booked;
//     color: $white-color;
//     border: none; 
//     cursor: pointer;
// }

.cell {
    position: relative; // For positioning pseudo-elements
    margin: 10px; // Small margin to create separation between cells
    overflow: hidden; // Ensure content doesn’t overflow the rounded corners
    
}

// :root {
//     --booked-color: #20bf6b;
//     --confirmed-color: #f39c12;
//     --checked-in-color: #3498db;
//     --due-in-color: #9b59b6;
//     --checked-out-color: #2ecc71;
//     --cancelled-color: #e74c3c;
// }

.start {
    position: relative; // Ensure positioning context
    background-color: $white-color;
    // background-color: var(--booking-color);
    color: $white-color;
    border: none;
    cursor: pointer;
    // padding: 5px 0; // Adjust padding to decrease height
    // margin-top: 3px;
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3.75rem;
    overflow: hidden; // To ensure the pseudo-element is contained
}

// Start pseudo-element
.start::before {
    content: '';
    background-color: var(--booking-color-start);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    right: 0; // Position to the right
    z-index: 1;
}


.middle {
    position: relative; // Ensure positioning context
    background-color: $white-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    // padding: 5px 0px; // Adjust padding to decrease height
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3.75rem;
    // margin-top: 3px;
    overflow: hidden; // To ensure the pseudo-element is contained
    // padding-top: 0rem;
}

.middle::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 100%;
    background-color: var(--booking-color-middle);
    z-index: 1;
}

.highlighted {
    background-color: $departureDay; /* Yellow glow */
  }
// Style for the end of a booking
.end {
    position: relative; // Ensure positioning context
    background-color: $white-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3.75rem;
    overflow: hidden; // To ensure the pseudo-element is contained
}

// End pseudo-element
.end::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--booking-color-end);
    left: 0; // Position to the left
    z-index: 3;
}





.selected {
    background-color: $selected-color;
    color: $black-color;
    cursor: grabbing;
}

.heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 450;
}

.filter-headings{
    font-weight: 550;
    font-size: larger;
}

.month-year {
    font-size: 1rem;
    font-weight: bold;
    background-color: $secondary-color;
    color: $white-color;
}

.button{
    background-color: $createResButton;
    color: $white-color;
    float: between;
}



.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
}


.thh{
    overflow-x: auto;   
}

.thead-light{
    position: sticky;
    top: 0;
}

.booking-chart-container {
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 100vh;
    margin-top: 20px;
    background: $white-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  .color-legend {
    .legend-title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .legend-list {
        display: flex;
        flex-wrap: wrap; // Allows wrapping if there's not enough space
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            margin-right: 2rem; // Space between items
            margin-bottom: 0.5rem; // Space below items

            .color-box {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

            .booked {
                background-color: $booked; 
            }

            .selected {
                background-color: $selected-color;
            }

            .available {
                background-color: $white-color; 
            }

            .unavailable {
                background-color: $unavailability; 
            }

            .arrival-day {
                background-color: $arivalDay; 
            }
            .arrival-day-on-hover {
                background-color: $arivalDayHover; 
            }
            .new{
                background-color: #20bf6b;
              }
            
              .confirmed{
                background-color: #f39c12;
              }
            
              .checkedIn{
                background-color: #3498db;
              }
              
              .checkedOut{
                background-color: #2ecc71;
              }
            
              .cancelled{
                background-color: #e74c3c;
              }
            
              .dueIn{
                background-color: #9b59b6;
              }
        }
    }
}


// th, td {
//     width: 100px; // Explicit width for all cells
//     min-width: 100px; // Prevent columns from shrinking below this width

// }