<h1 class="heading">Planning Chart</h1>
<div class="container-fluid">
    <div class="row">
        <div  class="col-12 col-lg-2">
            <label class="filter-headings" for="roomFilter">Show rooms:</label>
            <select (change)="onLocationFilterChange()" id="roomFilter" [(ngModel)]="selectedRoomFilter" class="form-control">
                <option value="all">All</option>
                <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
            </select>
        </div>

        <div class="col-12 col-lg-2">
            <label class="filter-headings" for="monthFilter">Select Month:</label>
            <select (change)="onMonthFilterChange()" id="monthFilter" [(ngModel)]="selectedMonth" class="form-control">
                <option *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="month">
                    {{ months[month - 1] }}
                </option>
            </select>
        </div>
        
    </div>
    
    <div>
        <div class="color-legend mt-4">
            <h4 class="legend-title">Color Legend</h4>
            <ul class="legend-list">
                <li><span class="color-box booked"></span> Booked</li>
                <li><span class="color-box selected"></span> Selected</li>
                <li><span class="color-box available"></span> Available</li>
                <li><span class="color-box unavailable"></span> Unavailable</li>
                <li><span class="color-box arrival-day"></span> Arrival Day</li>
                <li><span class="color-box arrival-day-on-hover"></span> Arrival on Hover</li>
            </ul>
        </div>
        <!-- <div *ngIf="selectedDates.length > 0 && selectedRoomId" class="text-center mt-3">
            <button  class="btn button " 
            (click)="bookRoom(selectedRoomId, formatDate(selectedDates[0]), formatDate(selectedDates[selectedDates.length - 1]))">
            <i class="fa-solid fa-plus"></i> Create Reservation
            </button>
        </div> -->

    </div>

    
    <div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" (click)="previousMonth()">Previous</button>
            <button class="btn btn-primary" (click)="nextMonth()">Next</button>
        </div>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
            <tr class="thead-light">
                <th class="room-column" rowspan="3">Rooms</th>
                <th [attr.colspan]="days.length" class="month-year">{{ months[selectedMonth - 1] }} - {{selectedYear}}</th>
            </tr>
            <tr>
                <th *ngFor="let day of days" class="weekday">{{ getWeekday(day) }}</th>
            </tr>
            <tr>
                <th *ngFor="let day of days" class="day">{{ day }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of filteredRooms">
                <th scope="row" class="room-info"><i class="fas fa-bed"></i> {{ room.roomId }}.{{ room.roomName }}</th>
                <ng-container *ngFor="let day of days">
                    <td *ngIf="!isPartOfBookedRange(room.roomId, day)"
                        [ngStyle]="getBookingStyle(room.roomId, day)"
                        [ngClass]="{
                            'cell': true,
                            'start': isStartOfBooking(room.roomId, day),
                            'end': isEndOfBooking(room.roomId, day),
                            'middle': isMiddleCell(room.roomId, day),
                            'selected': selectedRoomId === room.roomId && selectedDates.includes(day),
                            'available': isDayAvailable(room.roomId, day) && !isDayBooked(room.roomId, day),
                            'unavailable': !isDayAvailable(room.roomId, day) && !isDayBooked(room.roomId, day),
                            'arrival-day': isArrivalDay(room.roomId, day),
                            'highlighted': highlightedDays[room.roomId] && highlightedDays[room.roomId].includes(day)
                        }"
                        (mousedown)="startSelection(room.roomId, day)"
                        (mouseover)="continueSelection(room.roomId, day)"
                        (mouseup)="endSelection(room.roomId, day)"
                        matTooltip="{{ getTooltipContent(room.roomId, day) }}"
                        matTooltipPosition="below">
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>


<!-- 'booked': isDayBooked(room.roomId, day),
                            'half-cell': isDayBooked(room.roomId, day), -->





<!-- [attr.colspan]="getBookingRangeColspan(room.roomId, day)" -->