$table-color: #dee2e6;
$primary-color: #e9e6e6;
$secondary-color: #778ca3;
$booked: #20bf6b;
$selected-color: #a5b1c2;
$white-color: #ffffff;
$black-color: #000000;
$border-color: #dee2e6;
$unavailability: #d3d0d0bd;
$arivalDay: rgba(245, 248, 248, 0.856);
$arivalDayHover: darkgreen;
$createResButton: #099e4f;

.table {
    width: 100%;
    table-layout: fixed; // Ensures cells have equal width
}

.color-legend {
    .legend-title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .legend-list {
        display: flex;
        flex-wrap: wrap; // Allows wrapping if there's not enough space
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            margin-right: 2rem; // Space between items
            margin-bottom: 0.5rem; // Space below items

            .color-box {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

            .booked {
                background-color: $booked; // Example color for booked
            }

            .selected {
                background-color: $selected-color; // Example color for selected
            }

            .available {
                background-color: $white-color; // Example color for available
            }

            .unavailable {
                background-color: $unavailability; // Example color for unavailable
            }

            .arrival-day {
                background-color: $arivalDay; // Example color for arrival day
            }
            .arrival-day-on-hover {
                background-color: $arivalDayHover; // Example color for arrival day
            }
        }
    }
}

.available{
    cursor: default;
  }
  
  /* Styles for cells that are arrival days */
  .arrival-day {
    cursor: pointer;
    background-color: $arivalDay;
    color: $white-color;
  }
  
  /* Styles for hover effect on arrival days */
  .arrival-day:hover {
    background-color: $arivalDayHover;
    color: $white-color;
  }
  .unavailable {
    background-color: $unavailability;
    color: $white-color;
    cursor: not-allowed;
  }


.room-column {
    width: 15%;
    background-color: $secondary-color;
    color: $white-color;
}

.room-info {
    background-color: $primary-color; // Highlight for room names
    color: $black-color;
    height: 3.75rem;
    font-weight: 450;
    text-align: left;
    padding-left: 0.625rem;
}

th, td {
    text-align: center;
    height: 2.5rem;
    vertical-align: middle;
    padding: 0.5rem;
    border: 1px solid $table-color;
    white-space: nowrap; // Prevent text from wrapping
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.weekday, .day {
    font-size: 0.85rem;
    background-color: $primary-color;
    font-weight: 450;
}

.booked {
    background-color: $booked;
    color: $white-color;
    border: none; // Remove borders between booked cells
    cursor: pointer;
}


.selected {
    background-color: $selected-color;
    color: $black-color;
    cursor: grabbing;
}

.heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 450;
}

.filter-headings{
    font-weight: 550;
    font-size: larger;
}

.month-year {
    font-size: 1rem;
    font-weight: bold;
    background-color: $secondary-color;
    color: $white-color;
}

.button{
    background-color: $createResButton;
    color: $white-color;
    float: right;
    margin-right: 0;
}

.container-fluid {
    padding: 1.25rem;
}

.mt-3 {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
}