<div class="container-fluid">
    <div class="row">
        <div (change)="onLocationFilterChange()" class="room-filter col">
            <label for="roomFilter">Show rooms:</label>
            <select id="roomFilter" [(ngModel)]="selectedRoomFilter">
                <option value="all">All</option>
                <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
            </select>
        </div>
    
        <div (change)="onMonthFilterChange()" class="month-filter col">
            <label for="monthFilter">Select Month:</label>
            <select id="monthFilter" [(ngModel)]="selectedMonth">
                <option *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="month">
                    {{ months[month - 1] }}
                </option>
            </select>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr class="th">
                <th class="rooms" rowspan="2"> Rooms</th>
                <th  [attr.colspan]="days.length" >{{ months[selectedMonth - 1] }}</th>
            </tr>
            <tr>
                <th *ngFor="let day of days">
                    <tr>{{ day }}</tr>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tb" *ngFor="let room of filteredRooms">
                <th scope="row"><i class="fas fa-bed"></i> {{room.roomId}}.{{ room.roomName }}</th>
                <td *ngFor="let day of days" [ngClass]="{'booked': isDayBooked(room.roomId, day)}"></td>
            </tr>
        </tbody>
    </table>
</div>
