$table-color: #dee2e6;
$primary-color: #e9e6e6;
$secondary-color: #778ca3;
$booked: #20bf6b;
$selected-color: #a5b1c2;
$white-color: #ffffff;
$black-color: #000000;
$border-color: #dee2e6;
$unavailability: #d3d0d0bd;
$arivalDay: rgba(245, 248, 248, 0.856);
$arivalDayHover: darkgreen;
$createResButton: #099e4f;
$departureDay: rgb(235, 106, 235);


.table {
    width: 100%;
    table-layout: fixed; // Ensures cells have equal width
}

.color-legend {
    .legend-title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .legend-list {
        display: flex;
        flex-wrap: wrap; // Allows wrapping if there's not enough space
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            margin-right: 2rem; // Space between items
            margin-bottom: 0.5rem; // Space below items

            .color-box {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

            .booked {
                background-color: $booked; 
            }

            .selected {
                background-color: $selected-color;
            }

            .available {
                background-color: $white-color; 
            }

            .unavailable {
                background-color: $unavailability; 
            }

            .arrival-day {
                background-color: $arivalDay; 
            }
            .arrival-day-on-hover {
                background-color: $arivalDayHover; 
            }
            .new{
                background-color: #20bf6b;
              }
            
              .confirmed{
                background-color: #f39c12;
              }
            
              .checkedIn{
                background-color: #3498db;
              }
              
              .checkedOut{
                background-color: #2ecc71;
              }
            
              .cancelled{
                background-color: #e74c3c;
              }
            
              .dueIn{
                background-color: #9b59b6;
              }
        }
    }
}

.available{
    cursor: default;
  }
  
  .arrival-day {
    cursor: pointer;
    background-color: $arivalDay;
    color: $white-color;
  }
  
  .arrival-day:hover {
    background-color: $arivalDayHover;
    color: $white-color;
  }
  .unavailable {
    background-color: $unavailability;
    color: $white-color;
    cursor: not-allowed;
    border: none;
  }


.room-column {
    width: 15%;
    background-color: $secondary-color;
    color: $white-color;
}

.room-info {
    background-color: $primary-color; 
    color: $black-color;
    height: 3.75rem;
    font-weight: 450;
    text-align: left;
    padding-left: 0.625rem;
}

th, td {
    text-align: center;
    height: 2.5rem;
    vertical-align: middle;
    padding: 0.5rem;
    border: 1px solid $table-color;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.weekday, .day {
    font-size: 0.85rem;
    background-color: $primary-color;
    font-weight: 450;
}

// .booked {
//     background-color: $booked;
//     color: $white-color;
//     border: none; 
//     cursor: pointer;
// }

.minMaxDev{
    color: $white-color;
    cursor: not-allowed;
}

.cell {
    position: relative; // For positioning pseudo-elements
    margin: 10px; // Small margin to create separation between cells
    overflow: hidden; // Ensure content doesn’t overflow the rounded corners
    z-index: 0; 
}

// .reservation-marker {
//     position: absolute;
//     height: 70%;     
//     background-color: coral; 
//     border-radius: 2px; 
//     display: inline-block; 
//     z-index: 5;
//     padding-bottom: 70rem;
//     // padding-top:;
//     overflow: hidden;
// }


.start {
    position: relative; // Ensure positioning context
    background-color: $white-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    // padding: 5px 0; // Adjust padding to decrease height
    // margin-top: 3px;
    // padding-top: 4px;
    // padding-left: 0;
    // padding-right: 0;
    // padding-bottom: 3.75rem;
    padding: 4px 0 3.75rem;
    overflow: hidden; // To ensure the pseudo-element is contained
    
}

// Start pseudo-element
.start::after {
    content: attr(data-user-name);
    display: block;
    position: absolute;
    color: black; 
    text-align: left;
    overflow: hi    dden; // Hide overflow
    text-overflow: ellipsis;
    top: 0;
    bottom: 0rem;
    width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: var(--booking-color-start);
    right: 0;
    z-index: 11;
}

// .middle {
//     background-color: $booked;
//     color: $white-color;
//     border: none;
//     padding-top: 0%;
//     cursor: pointer;
// }


.middle {
    position: relative; // Ensure positioning context
    background-color: $white-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    // padding: 5px 0px; // Adjust padding to decrease height
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3.75rem;
    // margin-top: 3px;
    overflow: hidden; // To ensure the pseudo-element is contained
   
    // padding-top: 0rem;
}

.middle::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 100%;
    background-color: var(--booking-color-middle);
    z-index: 1;
}


// Style for the end of a booking
.end {
    position: relative; // Ensure positioning context
    background-color: $white-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
    
    padding-bottom: 3.75rem;
    overflow: hidden; // To ensure the pseudo-element is contained
}



// End pseudo-element
.end::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 30%;
    background-color: var(--booking-color-end);
    left: 0; // Position to the left
    z-index: 1;
}




.highlighted {
    background-color: $departureDay; /* Yellow glow */
  }


// .booked {
//     background-color: $booked;
//     color: $white-color;
//     border: none; 
//     cursor: pointer;
//     position: relative; // Required for pseudo-elements

//     // Styles for the start and end cells with half-cell effect
//     // &.half-cell {
//         position: relative;

//         &.start::before {
//             content: '';
//             display: block;
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             width: 50%;
//             background-color: green;
//             right: 0;
//             z-index: 1; // Ensure it's above other content
//         }

//         &.end::before {
//             content: '';
//             display: block;
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             width: 50%;
//             background-color: green;
//             left: 0;
//             z-index: 1; // Ensure it's above other content
//         }
//     // }

//     // Style for middle cells
//     &.full-cell {
//         background-color: $booked;
//     }
// }




.selected {
    background-color: $selected-color;
    color: $black-color;
    cursor: grabbing;
}

.heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 450;
}

.filter-headings{
    font-weight: 550;
    font-size: larger;
}

.month-year {
    font-size: 1rem;
    font-weight: bold;
    background-color: $secondary-color;
    color: $white-color;
}


.button{
    background-color: $createResButton;
    color: $white-color;
    float: between;
}

.nextButton{
    float: right;
}

.container-fluid {
    padding: 1.25rem;
}

.mt-3 {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
}

