/* General container styling */
.container-fluid {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
  }
  
  /* Button styling */
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  /* Table styling */
  .table {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #dee2e6;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .thead-fixed {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  /* Status dropdown styling */
  .status-dropdown {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .status-dropdown option {
    padding: 0.5rem;
  }
  
  /* Input field styling */
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  /* Dropdown styling */
  .form-select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .form-select option {
    padding: 0.5rem;
  }
  
  /* Add a bit of space between table rows and columns */
  .table td, .table th {
    padding: 0.5rem;
  }
  
  /* Alert styling */
  .alert {
    margin-top: 1rem;
    padding: 0.75rem 1.25rem;
    border-radius: 4px;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  /* Custom classes for status */
  
  .text-dark {
    color: #343a40 !important;
  }
  
  .text-white {
    color: #ffffff !important;
  }

  .new{
    background-color: #20bf6b;
  }

  .confirmed{
    background-color: #f39c12;
  }

  .checkedIn{
    background-color: #3498db;
  }
  
  .checkedOut{
    background-color: #2ecc71;
  }

  .cancelled{
    background-color: #e74c3c;
  }

  .dueIn{
    background-color: #9b59b6;
  }

  // case 'Confirmed':
  //       return '#f39c12';
  //     case 'Checked In':
  //       return '#3498db';
  //     case 'Due In':
  //       return '#9b59b6';
  //     case 'Checked Out':
  //       return '#2ecc71';
  //     case 'Cancelled':
  //       return '#e74c3c';
  //     default:
  //       return '#20bf6b';