<div class="container-fluid">
  <div class="row">
    <nav class="navbar">      
        <img routerLink="" src="asset/images/Logo.png" class="logo" alt="Site Logo"/>      
      <div>
        <button class="btn btn-outline-dark" routerLink="planningChart">Planning Chart</button>
        <button class="btn btn-outline-dark" routerLink="planningChart2">Planning Chart-v2</button>
        <button class="btn btn-outline-dark" routerLink="bookedReservations">Booked Reservations</button>
        <!-- <a routerLink="planningChart" class="nav-link active" aria-current="page" href="#">Planning Chart</a> -->
      </div>
  </nav>
  </div>
</div>