
/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-weight: 500;
    z-index: 10;
    position: relative;
  }
  
  .logo {
    width: 150px; /* Adjust according to your logo size */
  }

  .logo:hover{
    cursor: pointer;
  }

  .navbar-nav {
    margin-right: auto; /* Push the profile logo to the right */
  }
  
  .d-flex {
    // margin-left: auto; 
  }
  .nav-link:hover{
    color: rgb(78, 76, 170);
  }