<div class="con">
    <div class="container search overflow-visible">
        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" >
            <div class="row">
            <div class="col form-group">
                <label  class = "label" for="locationName">Location</label>
                <select id="locationName" class="form-control" formControlName="locationName">
                  <option value="">All Locations</option>
                  <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
                </select>
            </div>

            <div class="col form-group">
                <label class = "label" for="startDate">Start Date</label>
                <input type="date" id="startDate" class="form-control" formControlName="startDate">
            </div>

            <div class="col form-group">
                <label class = "label" for="endDate">End Date</label>
                <input type="date" id="endDate" class="form-control" formControlName="endDate">
            </div>

            <div class="col form-group">
                <label class = "label" for="numberOfPersons">Number of Persons</label>
                <input type="number" id="numberOfPersons" class="form-control" formControlName="numberOfPersons">
            </div>
                
            </div>
            <div class="row">
                <div class="col form-group">
                    <div class="priceLabel">
                        <label class = "label" for="priceRange">Price Range</label> ->
                        <span class="price">{{ filterForm.get('priceRange')?.value }}</span>
                    </div>
                    <input type="range" id="priceRange" class="form-control priceRange" formControlName="priceRange" min="0" max="4000">
                </div>
    
                <div class="col form-group">
                    <label class = "label" for="minDays">Minimum Days</label>
                    <input type="number" id="minDays" class="form-control" formControlName="minDays">
                </div>
    
                <div class="col form-group">
                    <label class = "label" for="maxDays">Maximum Days</label>
                    <input type="number" id="maxDays" class="form-control" formControlName="maxDays">
                </div>
                

                <button type="submit" class="btn btn-primary">Filter</button>

            </div> 
        </form>
    </div>
</div>
